.currentWeather {
    background: linear-gradient(101.93deg, #00C2C2 0%, #006BA7 100%);
    border: 2px solid #FFF;
    margin: 50px auto 0;
    max-width: 75%;
    border-radius: 20px;
}

.selectedLocation h2 {
    color: #FFF;
    font-size: 25px;
}

.temp h2{
    color: #FFF;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
    margin-bottom: 5px;
}

.temp{
    color: #FFF;
}

.desc_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #FFF;
    height: 100px;
    max-height: 100px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.iconFrame {
    max-height: 100px;
}

.iconFrame img {
    height: 100px;
}

.current_group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin:0 auto 50px;
    color: #FFF;
    font-size: 20px;
    max-width: 75%;
}

.current_group div{
    margin:10px
}

.current_group div div {
    font-size: 25px;
    font-weight: bold;
}

@media screen and (min-width: 48em) {
    .selectedLocation h2 {
        font-size: 35px;
    }
}