.currentWeather {
    margin: 0 auto;
    max-width: 75%;
    text-align: left;
}

.selectedLocation h2 {
    color: #FFF;
    font-size: 25px;
    margin-top: 0;
}

.top{
    display: flex;
}

.temp h2{
    color: #FFF;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
    margin-bottom: 5px;
    margin-top: 0;
}

.temp{
    color: #FFF;
    display:inline-block;
    margin-right:100px;
}

.currentWeather .description{
    margin-top: -12px;
}

.desc_container{
    display: inline-block;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    top: -18px;
    opacity: 0.5;
    text-align: center;
}

.realfeel, .windSpd span, .windDir span, .precip span, .selectedLocation{
    opacity: 0.5;
}

.iconFrame {
    max-height: 100px;
}

.iconFrame img {
    height: 100px;
}

.current_group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin:0;
    color: #FFF;
    font-size: 20px;
    max-width: 100%;
}

.current_group .windSpd{
    margin-right: 60px;
}

.current_group div div {
    font-size: 25px;
    font-weight: bold;
}

.current_group .precip{
    width: 100%;
}

@media screen and (min-width: 48em) {
    .selectedLocation h2 {
        font-size: 35px;
        text-align: center;
    }

    .top{
        justify-content: center;
    }

    .current_group{
        justify-content: space-around;
        max-width: 75%;
        margin: 0 auto;
    }

    .current_group .precip{
        width: auto;
    }

    .current_group .windDir, .current_group .windSpd{
        margin-right: 0;
    }
}